@font-face {
	font-family: 'utm-avo';
	src:url('../font/utm_avo-webfont.ttf');
}
@font-face {
	font-family: 'utm-avobold';
	src:url('../font/utm_avobold-webfont.ttf');
}

/* import font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);