/*************HEADER 1****************/
.header {
	#top {
		background: #111;
		padding: 0;
		margin: 0;
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 12px;
		border-bottom: none;
		.container {
			padding: 0;
		}
	}
	#top,
	.top-icon {
		color: #999;
	}
	#search {
		position: relative;
		> span {
			display: block;
			padding-left: 30px;
			padding-bottom: 10px;
		}
		&:hover {
			.search-input {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	.search-input {
		width: 300px;
		height: 37px;
		position: absolute;
		z-index: 999;
		right: 50px;
		top: -7px;
		visibility: hidden;
		opacity: 0;
		border: 1px solid #ddd;
		box-shadow: 0 5px 15px -5px #999;
		@include transition (visibility 0s);
		@include transition(opacity 0.2s linear);
	}
	.shopping-cart {
		line-height: normal;
		.dropdown-menu {
			a {
				color: $body-color;
				&:hover {
					color: $main-color;
				}
			}
		}
	}
	#language {
		img {
			vertical-align: baseline;
		}
	}
	.top {
		.btn {
			padding: 0;
			background-color: transparent;
		}
		ul {
			margin-bottom: 0;
		}
	}
	.top-left {
		line-height: 22px;
		.welcome-text {
			&:after {
				display: table;
				content: "";
				clear: both;
			}
		}
		li {
			float: left;
			margin-right: 20px;
			&:after {
				content: "";
				display: inline-block;
				margin-left: 20px;
				height: 10px;
				width: 1px;
				background: #292929;
			}
			&:last-child:after {
				display: none;
			}
		}
	}
	.top-right {
		margin-bottom: -33px;/*for hover button*/
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		> ul {
			&:after {
				display: table;
				content: "";
				clear: both;
			}
			> li {
				float: left;
				position: relative;
				&:after {
					content: "";
					position: absolute;
					top: 8px;
					right: 0;
					height: 10px;
					width: 1px;
					background: #292929;
				}
				&:last-child {
					&:after {
						display: none;
					}
					.btn-group {
						padding-right: 0;
					}
					.btn-link{
						padding-right: 0;
					}
				}
				.btn-group {
					padding-left: 20px;
					padding-right: 20px;
					padding-bottom: 25px; /*for hover*/
					
				}
				&:hover{
					.top-icon {
						color: #fff
					}
				}
				.top-search {
					padding-left: 40px;
				}
				.open {
					.top-icon {
						color: #fff;
					}
				}
				.search {
					.dropdown-menu {
						min-width: 250px;
					}
				}
			}
		}
		.dropdown-toggle {
			.fa-angle-down {
				margin-left: 5px;
			}
		}
		button {
			color: #b8b8b8;
			padding-top: 0;
			border: none;
			background: none;
			padding-top: 0;
			vertical-align: middle;
			&:hover, 
			&:hover a{
				color: #fff;
				text-decoration: none;
				background: none;
			}
			&:focus {
				outline: none;
				text-decoration: none;
			}
		}
	}
	#cart-total {
		position: absolute;
		top: -5px;
		right: 10px;
		width: 13px;
		height: 13px;
		line-height: 11px;
		text-align: center;
		font-size: 10px;
		background: $main-color;
		color: #fff;
		border-radius: 500px;
	}
	.top-navigation {
		float: right;
		margin-bottom: 0;
		button {
			&:hover {
				background-color: transparent;
			}
		}
		.dropdown-menu {
			padding-top: 0;
			padding-bottom: 0;
			top: 29px;
			left: auto;
			right: 0;
			font-size: 12px;
			border-radius: 0;
			text-align: left;
			z-index: 9999;
		}
	}

	.btn-remove {
		color: #333;
		background-color: transparent;
		box-shadow: none;
		padding: 0;
		.fa {
			font-size: 16px;
		}
		&:hover {
			.fa {
				background-color: #fff;
				color: $main-color;
			}
		}
	}
	a {
		&:hover {
			color: #fff;
		}
	}
	.top .dropdown-menu >li >a,
	.top #currency .currency-select {
		color: #555;
		font-family: $font-title;
		font-size: 12px;
		display: block;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 15px;
		text-align: left;
		&:hover {
			background: #262626;
			color: #fff;
		}
		.fa {
			display: inline-block;
			font-size: 12px;
			margin-right: 10px;
		}
	}
	.logo-megamenu{
		padding-top: 27px;
		padding-bottom: 27px;
		background: url(../images/logo-megamenu-bg.png) repeat;
		box-shadow: 0px 2px 5px #EAEAEA;
	}
	.logo {
		padding-top: 5px;
		padding-bottom: 5px;
		a {
			display: inline-block;
		}
	}
	#cart {
		position: relative;
		.dropdown-menu {
			background: #fff;
			top: 30px;
			padding: 0;
			a {
				&:hover {
					color: $main-color;
				}
			}
		}
		.cart-empty {
			min-width: 220px;
		}
		.cart-product {
			min-width: 435px;
		}
	}
	.language {
		.btn-link {
			padding-top: 0;
		}
	}

}

/***************HEADER 2*****************/
.header-2 {
	#top {
		border-bottom: 1px solid #eee;
		background-color: transparent;
	}
	#top,
	.top-icon {
		color: $body-color;
	}
	.top-right {
		margin-bottom: -33px; /*for hover button*/
		> ul {
			> li {
				.btn-group {
					padding-bottom: 25px;/*for hover*/
					>.dropdown-menu {
						top: 30px;
					}
				
				}
				&:hover {
					.top-icon {
						color: $main-color;
					}
				}
				&:after {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		}
		
	}
	.logo {
		text-align: center;
		padding-top: 33px;
		padding-bottom: 30px;
	}
	.megamenu-wrapper {
		background-color: #111;
		margin-bottom: 20px;
		#menu {
			float: left;
		}
		.top-search-cart {
			float: right;
			margin-right: 15px;
			padding: 9px 0;
			&:after {
				display: table;
				content: "";
				clear: both;
			}
			> div {
				float: left;
				padding-left: 20px;
				padding-right: 20px;
				position: relative;
				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 0px;
					right: 0;
					width: 1px;
					height: 25px;
					background-color: rgba(255, 255, 255, 0.2);
				}
				&:last-child:after {
					display: none;
				}
				&:hover {
					.top-icon {
						color: $main-color;
					}
				}
			}
			button {
				background: none;
				border: none;
			}
			.top-icon {
				color: #fff;
			}
		}
	}
	#cart-total {
		right: -9px;
	}
	#cart,
	#search {
		padding-bottom: 40px;
		margin-bottom: -40px;
	}
	#search {
		padding-left: 30px;
		margin-left: -30px;
		.search-input {
			position: absolute;
			z-index: 1001;
			width: 270px;
			top: 37px;
			right: 0px;
			display: none;
		}
		&:hover {
			.search-input {
				display: block;
			}
		}
	}
	#cart {
		position: relative;
		top: 2px;
	}
}



















