$main-color: #f46e6f; // likely red
$secondary-color: #222; //likely black, for hover button background
$font-body: 'utm-avo', san-serif;
$font-body-bold: 'utm-avobold', san-serif;
$font-title: 'Open Sans', san-serif;
$font-size-body: 13px;
$line-height-base: 1.9;
$body-color: #444;
