/**************Page structure*****************/
//margin  header, footer 
header {
	margin-bottom: 15px;
}
footer {
	margin-top: 40px
}
[class*='common-home'] {
	header {
		margin-bottom: 0;
	}
	footer {
		margin-top: 0;
	}
}
#column-left,
#column-right {
	> div {
		margin-bottom: 40px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.main-body{
	margin-top: 15px;
}

/*************column left and right css****************/
//category
.category {
	.list-group {
		 .list-group-item {
			color: $body-color;
			border: none;
			padding: 5px 12px;
			&:hover {
				color: $main-color;
				background-color: transparent;
				border: none;
			}
			&.active {
				color: $main-color;
				background-color: transparent;
			}
		}
		> .item-group {
			> .list-group-item {
				&:first-child {
					padding-top: 0;
				}
			}
		}
	}
	
}
//filter
.filter {
	.filter-list-title {
		font-weight: bold;
		margin: 0;
	}
	.list-group-item {
		border: none;
		padding: 0;
	}
}

//margin div in content in responsive
@media only screen and (max-width: 767px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-body {
		> div {
			margin-bottom: 40px;
			&:last-child {
				margin-bottom: 0;
			}

		}
		#content {
			margin-bottom: 0;
		}
	}
	#content,
	#column-left,
	#column-right {
		margin-bottom: 45px;
		> div {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	footer {
		margin-top: 0;
	}
}
@media only screen and (max-width: 639px) {
	.main-body {
		> div {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		#content {
			margin-bottom: 0;
		}
	}
	#content,
	#column-left,
	#column-right {
		margin-bottom: 30px;
		> div {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

//alert
.alert {
	background-color: transparent;
	border: 1px solid #ddd;
	color: $body-color;
	margin-bottom: 30px;
	padding: 8px 15px;
	@include box-shadow(3px 4px 5px #888);
	a {
		color: $main-color;
		&:hover {
			text-decoration: underline;
		}
	}
	button.close {
		margin-left: 30px;
	}
}

.alert.alert-success{
	position: fixed;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	background: #fff;
	z-index: 999;
	padding: 15px;

}

//Dropdown

//button
.btn {
	@include transition(0.2s);
}
.btn-primary {
	padding: 8px 20px;
	background-color: $main-color;
	border: none;
	&:hover {
		background-color: #222;
	}
}

// Compare
.compare-text {
	margin-bottom: 25px;
}
#compare-total {
	color: $body-color;
	display: block;
	margin-bottom: 30px;
	&:hover {
		color: $main-color;
	}
}

//  View bar
.view-bar {
	line-height: 43px;
	margin-top: -12px; //line as left, it has select
	.btn-default {
		.fa {
			font-size: 18px;
			color: #a8a8a8;
		}
		&:hover {
			.fa {
				color: #222;
			}
		}
	}
	.button-layout {
		.fa {
			color: #222;
		}
	}
	#list-view, #grid-view{
		padding: 0;
		border: none;
		color: #555;
		line-height: 38px;
		&:before {
			content: "";
			width: 24px;
			height: 24px;
			display: inline-block;
			position: relative;
			top: 8px;
			margin-right: 5px;
			background: url(../images/view-mode.png) no-repeat;
		}
		&.button-layout {
			text-decoration: underline;
		}
		&:hover,
		&:active,
		&:focus {
			border: none;
			background: none;
			text-decoration: underline;
			outline: none;
			box-shadow: none;
		}
	}
	.view-mode-split {
		margin-right: 10px;
	}
	#grid-view {
		&:before {
			background-position: 0 0px;
		}
		&:hover:before,
		&.button-layout:before {
			background-position: 0 -25px;
		}
	}
	#list-view {
		&:before {
			background-position: -25px 0px;
		}
		&:hover:before,
		&.button-layout:before {
			background-position: -25px -25px;
		}
	}
	.select-element-wrapper,
	.control-label,
	.btn-group {
		float: left;
		line-height: 38px;
	}
	#input-limit {
		min-width: 65px;
	}
	.control-label {
		margin-right: 10px;
	}
	hr {
		margin-top: 10px;
		margin-bottom: 30px;
		border-color: #ddd;
	}
}

@media only screen and (max-width: 479px) {
	.view-bar {
		[class*='col-'] {
			text-align: left;
			margin-top: 15px;
			margin-bottom: 0px;
		}
	}
}


// Other

#content {
	min-height: 500px;
}
//Button filter
#button-filter {
	background-color: $main-color;
	border-color: transparent;
	padding: 8px 15px;
	&:hover {
		background-color: #222;
	}
}
//image effect

.image-hover-effect {
	background: #222;
	display: block;
	position: relative;
	&:before, &:after {
		position: absolute;
		top: 5px;
		right: 5px;
		bottom: 5px;
		left: 5px;
		content: "";
		@include transition(opacity 0.35s ease 0s);
		@include transition(transform 0.35s ease 0s);
	}
	&:before {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		@include transform(scale(0,1));
	}
	&:after {
		border-right: 1px solid #ddd;
		border-left: 1px solid #ddd;
		@include transform(scale(1,0));
	}
	&:hover {
		img {
			@include opacity(0.8);
		}
		&:before, &:after {
			@include opacity(1);
			@include transform(scale(1));
		}
		&:before {
			left: 0px;
			right: 0px;
			z-index: 99;
		}
		&:after {
			top: 0px;
			bottom: 0px;
			z-index: 100;
		}
	}
}


//tag cloud
.tagcloud {
	a {
		display: inline-block;
		font-size: 11px;
		color: #555;
		margin-bottom: 7px;
		margin: 0 5px 8px 0;
		padding: 2px 6px 3px 6px;
		border: 1px solid #888;
		text-transform: capitalize;
		@include transition(0.1s);
		&:hover {
			background-color: $main-color;
			color: #fff;
			border-color: $main-color;
		}
	}
}



/*********Search**********/
#search {
	input {
		padding-left: 20px;
		padding-right: 20px;
	}
}


/**************Breadcumb****************/

.breadcrumb {
	margin-bottom: 21px;
	background-color: transparent;
	border: none;
	padding: 0;
	>li {
		padding: 0;
		padding-left: 3px;
		&:first-child {
			padding-left: 0;
		}
		&:before {
			display: none;
		}
		&:after {
			content: "/";
			display: inline-block;
			margin-left: 5px;
			position: static;
			width: auto; //overwrite default theme
			height: auto;
			border: none;
			@include transform(none);
		}
		&:last-child {
			a {
				color: $main-color;
				text-decoration: underline;
			}
			&:after {
				display: none;
			}
		}
		a {
			font-family: $font-title;
			color: #666;
			letter-spacing: 0.5px;
			&:hover {
				color: $main-color;
				text-decoration: underline;
			}
		}
	}
}


/**************Pagination*****************/
.pagination-wrapper {
	margin-top: 30px;
	.text-left {
		> div {
			display: inline-block;
			span {
				float: left;
			}
		}
	}
}
.pagination {
	display: initial;
	float: left;
	margin-left: 15px;
	&:after {
		display: table;
		content: "";
		clear: both;
	}
	> li {
		float: left;
		>a, span {
			display: block;
			color: #222;
			border-right: 1px solid #ddd;
			padding-right: 10px;
			padding-left: 10px;
		}
		&.active, 
		&:hover {
			> a, span {
				color: $main-color;
				text-decoration: underline;
			}
		}
		&:last-child {
			> a, span {
				border-right: none;
				padding-right: 0;
			}
		}
		&:first-child {
			> a, span {
				padding-left: 0;
			}
		}
	}
}
@media only screen and (max-width: 479px) {
	.pagination-wrapper {
		[class*='col-'] {
			text-align: left;
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}


/**********Image in mobile ************/
@media only screen and (max-width: 767px) {
	.image-block {
		display: inline-block;
	}
}

/*********Search In Category*********/
.form-control {
  border: 1px solid #ddd;
  color: #444;
}
//Replace arrow icon in select form

.select-element-wrapper {
	  position: relative;
	  display: block;
	  &:after {
	   content: "\f107";
	       color: #444;
	       display: block;
	       position: absolute;
	       z-index: 99;
	       font-family: 'FontAwesome';
	       top: 50%;
	       height: 12px;
	       margin-top: -6px;
	       right: 10px;
	       font-size: 12px;
	       line-height: 1;
	  }
	  select {
	  	cursor: pointer;
  		//chrome and firefox
  		-moz-appearance: none; 
  		-webkit-appearance: none; 
  		appearance: none;
  		&::-ms-expand { // ie
  			display:none;
  		}
	  }
}
// Overwrite some bootstrap
//product-tab
.table-bordered {
	> thead {
		> tr {
			> th,
			>td {
				border-width: 1px;
			}
		}
	}
}
//img
.image-block {
	max-width: 100%;
}


/*******Scroll to top*********/
#scroll-top {
	display: none;
	height:45px;
	width:45px;
	position:fixed;
	z-index:999999;
	bottom: 15%;
	right:0;
	background-color: $main-color;
	cursor: pointer;
	text-align: center;
	line-height: 45px;
	@include transition(0.3s);
	.fa {
		font-size: 18px;
		color: #fff;
	}
	&:hover {
		background-color:#000;
	}
}

/*****Fixed Social network****/

#fixed-socials{
	position: fixed;
	top: 130px;
	right: -185px;
	width: 230px;
	z-index: 999;	
	.bb-facebook{
		background: #39599f;
	}

	.bb-twitter{
		background: #45b0e3;
	}
	.bb-google{
		background: #DF5138;
	}
	.bb-youtube{
		background: #39599F;
	}
	.bb-pinterest{
		background: #CD2026;
	}
	.bb-mail{
		background: #2A056F;
	}
	a {
		display: block;
		margin-bottom: 2px;
		@include transition(0.3s);
		color:#fff;
		&:hover {
			margin-left: -120px;
		}

	}
	span {
		text-decoration: underline;
	}
	.fa {
		height: 45px;
		width: 45px;
		text-align: center;
		line-height: 45px;
		font-size: 20px;
	}
}

/******Require*******/
div.required {
	.control-label {
		&:before {
			content: '* ';
			color: #F00;
			font-weight: bold;
		}
	}
}

//Large image in quickview
.mfp-content {
	z-index: 9999999;
}