/************HEADER BASIC************/
#cart {
	.dropdown-menu {
		min-width: 430px;
		z-index: 999999;
		.btn-remove {
			border-radius: 3px;
			padding: 1px 5px;
		}
		td.text-left {
			> a {
				color: #222;
				&:hover {
					color: $main-color;
				}
			}
		}
		p.text-right {
			> a {
				color: #222;
				margin-left: 25px;
				&:hover {
					color: $main-color;
				}
			}
		}
	}
}
.header {
	.btn-link {
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}


/*********HEADER SETTING**********/

#top {
	background: url(../images/promotion-background.png) 50% 0 repeat #121212;
	text-align: center;
	padding-top: 33px;
	padding-bottom: 43px;
	h2 {
		font-weight: bold;
		font-family: $font-title;
		font-size: 38px;
		color: $main-color;
		margin: 0;
		margin-bottom: 1px;
	}
	h4 {
		font-size: 23px;
		font-family: $font-title;
		color: #eee;
		margin: 0;
		margin-bottom: 9px;
	}
	h5 {
		font-size: 14px;
		color: #aaa;
		margin: 0;
	}
}
#top-nav {
	background-color: #222;
	.top-left,
	.top-right .toplink-wrapper {
		> li {
			.top-link {
				display: block;
				font-family: $font-body;
				color: #888;
				line-height: 38px;
				padding: 0 17px;
				position: relative;
				&:hover {
					color: $main-color;
				}
				&:after {
					content: "";
					display: block;
					width: 1px;
					height: 10px;
					background-color: rgba(255, 255, 255, 0.1);
					position: absolute;
					z-index: 99;
					right: 0;
					top: 50%;
					margin-top: -5px;
				}
				.fa {
					font-size: 10px;
					margin-left: 5px;
				}
			}
			&:last-child {
				.top-link {
					padding-right: 0;
					&:after {
						display: none;
					}
				}
			}
			&:first-child {
				.top-link {
					padding-left: 0;
				}
			}
		}
	}
	//overwrite boostrap
	.btn-link {
		background-color: transparent;
		padding: 0;
		border: none;
		&:hover {
			text-decoration: none;
		}
	}
	ul {
		margin: 0;
	}
	.dropdown-menu {
		z-index: 2000;
	}
}
.top-left {
	> li {
		float: left;
	}
}
.top-right {
	.toplink-wrapper {
		> li {
			float: left;
		}
	}
}
.main-header {
	background-color: #313131;
}


.header {
	.logo {
		padding-top: 25px;
		padding-bottom: 28px;
		a {
			display: inline-block;
		}
	}
	.top-search,
	.shopping-cart {
		padding-top: 37px;
	}
	#search-custom {
		display: inline-flex;
		.dd-select, 
		.search-input, 
		#btn-search {
			border: none;
			height: 40px;
			line-height: 40px;
		}
		.dd-select {
			border-radius: 0;
			background: #fff!important;
		}
		.dd-options {
			height: 335px;
			box-shadow: none;
			> li {
				.dd-option-text {
					cursor: pointer;
					font-weight: normal;
				}
			}
		}
		a.dd-selected {
			color: #555;
			padding: 0;
			padding-left: 20px;
			.dd-selected-text {
				margin: 0;
				text-transform: capitalize;
				font-weight: normal;
			}
			&:after {
				content: "";
				display: inline-block;
				background-color: #e9e9e9;
				width: 1px;
				height: 20px;
				position: absolute;
				right: 0px;
				top: 50%;
				margin-top: -10px;
			}
		}
		.dd-pointer {
			right: 25px;
			&.dd-pointer-down {
				border-top-color: #bbb!important;
			}
			&.dd-pointer-up {
				border-bottom-color: #bbb!important;
				border-top-color: transparent!important;
			}
		}
		.dd-option {
			padding: 0;
			padding-left: 10px;
			line-height: 30px;
			background: none;
		}
		.dd-option:hover {
			background-color: $main-color;
			color: #fff;
		}
		.search-input {
			width: 300px;
			padding: 0 20px;
			color: #555;
		}
		#btn-search {
			background-color: $main-color;
			color: #fff;
			font-family: $font-title;
			font-size: 12px;
			@include transition(0.2s);
			text-transform: uppercase;
			padding: 0 20px;
			&:hover {
				background-color: #666;
			}
		}
	}
	.shopping-cart {
		text-align: right;
	}
	#cart {
		position: relative;
		> button {
			border: none;
			background-color: #464646;
		}
		.cart-text {
			font-family: $font-title;
			font-size: 13px;
			color: #fefefe;
			display: inline-block;
			padding: 0 15px;
		}
		.cart-arrow {
			display: inline-block;
			background-color: $main-color;
			color: #fff;
			width: 40px;
			height: 40px;
			line-height: 40px;
			.fa {
				@include transition(0.5s);
			}
		}
		&:hover {
			.cart-arrow {
				.fa {
					@include transform(rotate(90deg));
				}
			}
		}
	}
	.dropdown {
		ul.dropdown-menu {
			padding: 0;
			> li {
				background-color: #3c3c3c;
				border-bottom: 1px solid #4b4b4b;
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					background-color: #262626;
				}
			}
		}
		.dropdown-menu-item {
			color: #aaa;
			line-height: 30px;
			background: none;
		}
	}
}

