/******************MEGAMENU********************/
#menu {
	background-color: #262626;
	background-image: none;
	border: none;
	min-height: auto;
	margin-bottom: 0;
	margin-left: 300px;
	.navbar-header {
		display: none;
	}
	#category {
		font-family: $font-title;
		font-weight: bold;
		text-transform: uppercase;
		float: left;
		line-height: 41px;
	}
	.nav {
		> li {
			> a {
				display: block;
				padding: 12px 27px;
				font-family: $font-title;
				color: #f6f5f5;
				text-transform: uppercase;
				letter-spacing: 0.3px;
				&:hover {
					background-color: #3c3c3c;
				}
				.fa {
					margin-left: 2px;
				}
			}
			&:last-child {
				> a {
					padding-right: 0;
				}
			}
		}
	}
	
}

/**************MEGAMENU HOME 2***************/
.header-2 {
	#menu {
		.nav {
			> li {
				> a {
					color: #fff;
					&:hover {
						color: $main-color;
					}
				}
				&:hover {
					> a {
						color: $main-color;
					}
				}
			}
		}
		.dropdown-menu {
			top: 44px;
		}
	}
}
/****************For Responsive******************/
@media only screen and (min-width: 767px) and (max-width: 991px) {
	#menu {
		.nav {
			> li {
				> a {
					padding-left: 12px;
					padding-right: 12px;
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
		#menu {
			background-color: #eee;
			padding-top: 0;
			padding-bottom: 0;
			margin: 0;
			margin-bottom: 30px;
			width: 100%;
			.navbar-header {
				display: block;
				background-color: #262626;
				color: #fff;
				padding: 0 20px;
				.navbar-toggle {
					color: inherit;
					&:focus,
					&:active {
						outline: none;
						border: none;
						box-shadow: none;
					}
				}
			}
			div.dropdown-menu {
				padding: 0;
				background: none;
			}//end
			.navbar-collapse {
				@include transition(0.5s); //transition dropdown
				float: none;
				padding: 0;
				max-height: none;
				border: none;
				.nav {
					margin: 0;
					> li {
						> a {
							display: block;
							padding: 12px 19px;
							font-size: 12px;
							color: #333;
							text-transform: uppercase;
							font-weight: bold;
							letter-spacing: 1.7px;
							border-bottom: 1px solid #ddd;
							&:hover {
								background-color: #333;
								color: #fff;
							}
							.fa {
								display: none;
							}
						}
						&:last-child {
							> a {
								border-bottom: none;
							}
						}
						&.open,
						&:hover  {
							> a {
								background-color: #888;
								color: #fff;
							}
							> .sub-toggle {
								color: #fff;
							}
						}
					}
				}
				.dropdown-inner {
					ul {
						display: block;
					}
				}
				.sub-menu-1 {
					> li {
						> a {
							display: block;
							padding: 10px 0px 10px 30px;
							border-bottom: 1px solid #ddd;
							font-weight: bold;
							&:after {
								display: none;
							}
							&:hover {
								background-color: rgba(0, 0, 0, 0.1);
							}
						}
					}
				}
				.sub-menu-2 {
					> li {
						> a {
							padding-left: 60px;
						}
					}
				}
			}
			.sub-collapse {
				position: relative;
				.sub-toggle {
					position:absolute;
					z-index: 999;
					padding: 11px 20px;
					top:0px;
					right: 28px;
					cursor: pointer;
				}
			}
		}
		.navbar-header {
			padding: 8px 0;
		}
}
/*****************CUSTOM**************/

/********** HORIZONTAL MENU***********/
#top-menu {
	background: #262626;
	height:50px;
	line-height: 50px;
	position: relative;
	.header-menu {
		margin-left: 22.3%;
		> ul {
			> li {
				display: inline-block;	
				> a {
					font-family: $font-title;
					font-size: 13px;
					color:#f6f5f5;
					padding: 0 20px;
					text-transform: uppercase;					
					display: block;
					line-height: 48px;
					position: relative;		
				}
				&:hover {					
					background-color: #3c3c3c;
					.label {
						top: -12px;
					}
					.dropdown {
						visibility: visible;
						@include opacity(1);
						top: 50px;
					}
				}
				&.item-has-dropdown {
					> a {
						&:after {
						    content: "\f0d7";
							font-family: FontAwesome;
							font-size: 10px;
						    display: inline-block;
							margin-left: 10px;
						}
					}
				}
			}
		}
		.home {
			position: relative;
			.dropdown {
				min-width: 160px;
				> ul {
					> li {
						padding: 0 30px 0 15px;
					}
					a {
						display: block;
						padding: 10px 0px;
						@include transition(0.4s);
						&:before {
							content: "\f111";
							font-family: "FontAwesome";
							font-size: 5px;
							margin-right: 5px;
							display: inline-block;
						}
						&:hover {
							padding-left: 10px;
						}
					}
				}
			}
		}
		.dropdown {
			visibility: hidden;
			position: absolute;
			top: 250%;
			left:0;
			border:1px solid #ddd;
			z-index: 10;
			background: #fff;	
			line-height: 30px;
			@include opacity(0);
			@include transition(0.4s);
			h3 {
				font-size: 16px;
				font-weight: bold;
			}
			li {
				border-bottom: 1px solid #ddd;
				&:last-child {
					border-bottom: none;
				}
			}						
		}

		.featured-content {
			width: 100%;
			padding: 25px;					
			.menu-col {
				text-align: center;						
				p {
					padding: 0 35px;
					line-height: 23px;
					margin-bottom: 0;
				}
				.menu-custom-img {
					background: #f6f6f6;
					color:#666;
					line-height: 220px;						
					.fa {
						font-size: 48px;
					}
					&:hover {
						color: #fff;
						background: $main-color;
					}
				}

			}
		}
		.shop-content {
			width: 100%;
			padding: 25px;
			.shop-row1 {
				border-bottom: 1px solid #ddd;
				margin-bottom: 20px;
				padding-bottom: 20px;
			}

		}
		.shop-col {
			> ul {
				padding-left: 15px;
				> li {
					> a {
						display: block;
						@include transition(0.4s);
						&:before {
							content: "\f111";
							font-family: "FontAwesome";
							font-size: 5px;
							margin-right: 5px;
							display: inline-block;
						}
						&:hover {
							padding-left: 10px;
						}
					}
				}
			}
		}
			.label {
				position: absolute;
				top: -4px;
				right: 10px;
				padding: 0 6px;
				height: 15px;
				font-size: 9px;
				line-height: 15px;
				font-family: $font-title;
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				@include transition(0.3s);
				&:before {
					position: absolute;
					content: '';
					left: 5px;
					bottom: -3px;
					border-style: solid;
					border-width: 3px 3px 0 3px;
				}
				&.label-new {
					background-color: #b0d95e;
					&:before {
						border-color: #b0d95e transparent transparent transparent;
					}
				}
				&.label-hot {
					background-color: #f08a47;
					&:before {
						border-color: #f08a47 transparent transparent transparent;
					}
				}
			}
		}
}
