/**********Page information-sitemap*************/
.information-sitemap {
	#content {
		ul {
			li {
				margin-bottom: 20px;
				a {
					color: #000;
					font-weight: bold;
					&:hover {
						color: $main-color;
					}
				}
			}
			> li {
				color: $main-color;
				font-weight: bold;
			}
		}
	}
}
/*********Page account login***********/
.forgotten-password-link {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
}
/************Page contact*************/

/************Page product modal *************/
.modal-dialog {
	border: none;
	.close-custom {
		width:36px;
		height:36px;
		position: absolute;
		right: 0px;
		top: 0px;
		margin-top: 18px;
		color: #222;
		font-size: 35px;
		z-index: 1311;
		cursor: pointer;
		background-image: url('../images/fancybox_sprite.png');
	}
}
@media only screen and (max-width: 767px) {
	.modal-header {
		.close {
			top: 15px;
		}
	}
}

.modal-body {
	padding-bottom: 30px;
	padding: 0;
	margin-left: 15px;
	margin-right: 15px;
	.rating .fa-stack {
		font-size: 5px;
	}
	.quickview-button-wrapper {
		margin-top:40px;
		padding: 25px 0;
		border-top: 1px solid #eee;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		.add-to-cart-content {
			float: left;
			margin-right: 30px;
		}
		.add-to-cart-button {
			background-color: $main-color;
			font-family: $font-title;
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			border-radius: 0;
			border: none;
			line-height: 41px;
			padding: 0 20px;
			&:hover {
				background-color: #222;
			}
		}
		.button-action {
			float: left;
			padding: 6px 0;
			button {
				color: #555;
				margin-right: 5px;
				font-size: 0;
				width: 28px;
				height: 28px;
				text-align: center;
				display: inline-block;
				border-radius: 1px;
				background-color: #eee;
				.fa {
					font-size: 13px;
					line-height: 28px;
				}
				&:hover {
					color: $main-color;
				}
			}
		}
	}
}

.modal-dialog {
	width: 60%;
	position: absolute;
	left: 25%;
	.modal-content {
		height: 600px;
		overflow: auto;
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 35px;
	}
	.product-desc {
		h3 {
			font-family: $font-title;
			color: #222;
			margin: 0;
		}
		
	}
	.other-image {
		> ul {
			margin-bottom: 30px;
			> li {
				max-width: 30%;
				display: inline-block;
				margin-right: 6px;
			}
		}
	}
}
.main-image {
	margin-bottom: 20px;
}
.img-thumbnail {
	padding: 0;
}
@media only screen and (max-width: 767px) {
	.well {
		margin-top: 30px;
	}
}
/***********Page Search**************/
#button-search {
	margin-top: 10px;
	margin-bottom: 25px;
}
.search-header {
	> label {
		margin-bottom: 10px;
	}
	.checkbox-inline {
		margin-top: 10px;
	}
}

/**********Page Comparision************/
/***********Page check out**************/
.checkout-cart {
	#content {
		> h1 {
			margin-bottom: 30px;
		}
	}
	#accordion {
		margin-top: 25px;
		.panel-default {
			margin-bottom: 45px;
		}
		a {
			color: #222;
			&:hover {
				color: $main-color;
			}
		}
	}
	.table-responsive {
		td:nth-child(2) {
			a {
				color: $main-color;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}