//Deal of day

.deal-product {
	.deal-of-day-timer {
		> li {
			float: left;
			width: 22%;
			text-align: center;
			margin-right: 6px;
			&:last-child {
				margin-right: 0;
			}
			> p {
				margin-bottom: 0;
			}
		}
		.timer-box {
			border: 1px solid #ddd;
			display: block;
			height: 30px;
			line-height: 30px;
			text-align: center;
			font-family: $font-title;
			font-size: 16px;
			color: #555;
		}
		.timer-title {
			font-size: 12px;
			color: #555;
			font-style: normal;
		}
	}
	.button-action {
		display: none;
	}
}

// random-product-slide
.random-product-slide {
	padding: 22px 20px;
	border: 1px solid #efefef;
	.product-thumb {
		border: none;
		&:after {
			display: table;
			content: "";
			clear: both;
		}
		.product-image-box {
			float: left;
			margin-right: 10px;
		}
		.product-info {
			float: left;
		}
		.product-name {
			margin-top: 10px;
		}
	}
	.owl-nav {
		[class*='owl-'] {
			background-color: transparent;
			top: 50%;
			margin-top: -13px;
			@include transition(0.2s);
			&:before {
				font-size: 28px;
				color: #ccc;
			}
			&:hover:before {
				color: #333;
			}
		}
		.owl-prev {
			left: -24px;
		}
		.owl-next {
			right: -24px;
		}
	}
}