
@media only screen and (min-width: 1200px) {
 
}
@media only screen and (max-width: 1199px) {
 footer {
 	.footer-2 {
 		.footer-copyright {
 			.copyright-link {
 				margin-bottom: 15px;
 				> li {
					line-height: 1.8;
 				}
 			}
 		}
 		.icon-payment-wrapper {
 			padding: 47px 0;
 		}
 	}
 }
}
@media only screen and (min-width : 992px) and (max-width : 1199px) {
	.header {
		#search-custom {
			.search-input {
				width: 260px;
			}
		}
	}
	#footer-ads-wrapper {
		.footer-ads-icon {
			margin-bottom: 16px;
		}
	}
}

@media only screen and (max-width: 991px) {
	.header {
		.logo {
			text-align: center;
			padding-bottom: 0;
			margin-bottom: 25px;
		}
		.top-search,
		.shopping-cart {
			padding-top: 0;
			padding-bottom: 0;
			margin-bottom: 35px;
		}
	}
	.common-home {
		#column-left {
			width: 33%;
			float: left;
		}
		#content {
			width: 66%;
			float: left;
			padding-left: 15px;
			padding-right: 15px;
			margin-right: 0;
		}
		#column-right {
			display: none;
		}
	}
	#footer-ads-wrapper {
		.footer-ads {
			margin-bottom: 30px;
		}
	}
	footer {
		.footer-1 {
			.newsletter {
				.subcribe-button {
					padding-top: 7px;
					padding-bottom: 9px;
				}
			}
			.footer-1-col {
				min-height: 220px;
			}
			.footer-logo-img {
				min-height: auto;
			}
		}
		.main-footer-col {
			margin-bottom: 20px;
			min-height: 170px;
		}
	}
}
@media only screen and (min-width : 768px) and (max-width : 992px) {
	#top-nav {
		.top-left,
		.top-right .toplink-wrapper {
			> li {
				.top-link {
					font-size: 12px;
				}
			}
		}
	}
	.common-home {
		#top-menu {
			.header-menu {
				margin-left: 32%;
				> ul {
				 	> li {
				 		> a {
							font-size: 11px;
							padding: 0 10px;
				 		}
				 	}
				}
			}
		}
	}
	#top-menu {
		.header-menu {
			> ul {
				> li {
					a {
						padding: 0 10px;
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	#fixed-socials {
		display: none;
	}
	.header {
		#top-nav {
			text-align: center;
			.top-left,
			.top-right {
				display: inline-block;
			}
		}
		.main-header {
			.logo-search-cart,
			.shopping-cart {
				text-align: center;
			}
			.logo {
				padding-bottom: 0;
			}
		}
		.top-search,
		.shopping-cart {
			padding: 0;
			margin-top: 20px;
		}
	}
	#cart {
		 .dropdown-menu {
			right: 28%;
		}
	}
	#column-left {
		display: none;
	}
	[class*='common-home'] {
		#column-right {
			display: block;
			width: 33%;
			float: left;
		}
	}
	.common-home2 {
		#content {
			width: 100%;
		}
	}
	.random-product-slide {
		.product-thumb {
			.product-image-box {
				width: 80%;
			}
		}
	}
	.breadcrumb {
		margin-left: 0;
	}
	#column-right-ex {
		margin-bottom: 30px;
	}
	footer {
		.footer-top {
			padding-top: 10px;
		}
		.footer-logo-img {
			text-align: center;
		}
		.footer-top {
			.footer-logo-img {
				margin-bottom: 25px;
			}
		}
		.footer-bottom-col {
			text-align: center;
			.icon-payment-wrapper {
				display: inline-block;
				float: none;
			}
		}
		.footer-bottom {
			.footer-copyright {
				padding-top: 10px;
			}
			.icon-payment-wrapper {
				padding: 0;
				padding-bottom: 15px;
			}
			.copyright-link {
				display: inline-block;
			}
		}



		&.footer-2 {
			.footer-top {
				text-align: center;
				padding: 20px 0;
			}
			.get-in-touch {
				display: inline-block;
				margin-bottom: 15px;
			}
			.newsletter {
				display: inline-block;
			}
		}
	}
}


@media only screen and (max-width: 639px) {
	.header {
		#search-custom {
			.search-input {
				width: 225px;
			}
		}
	}
	#top-nav {
		.top-left,
		.top-right .toplink-wrapper {
			> li {
				.top-link {
					padding: 0 6px;
				}
			}
		}
	}
	.common-home {
		#content {
			width: 100%;
		}
		#column-right {
			display: none;
		}
		#content {
			margin-bottom: 30px;
		}
	}
	.random-product-slide {
		.product-thumb {
			.product-image-box {
				width: auto;
			}
		}
	}
	#footer-ads-wrapper {
		.footer-ads {
			min-height: 252px;
		}
	}
	.footer-2 {
		.newsletter {
			.footer-list-title {
				float: none;
			}
		}
	}
	footer {
		.main-footer-col {
			min-height: auto;
		}
	}

}
@media only screen and (max-width: 479px) {
	.header {
		.top-search {
			display: none;
		}
	}
	#cart {
		.dropdown-menu {
			right: 0;
		}
	}
	.footer-2 {
		.newsletter {
			form {
				.input-email {
					margin-bottom: 20px;
				}
			}
		}
		.get-in-touch {
			h3 {
				float: none;
			}
		}
	}
	footer {
		.footer-bottom {
			.footer-copyright {
				.copyright-link {
					> li {
						> a {
							font-size: 12px;
						}
					}
				}
			}
		}
	}
}
