$main-color: #da4b52; // likely red
$border-color:#ddd;
$secondary-color: #222; //likely black, for hover button background
$font-body: 'Raleway', san-serif;
$font-body-bold: 'utm-avobold', san-serif;
$font-title: 'Montserrat', san-serif;
$font-size-body: 13px;
$line-height-base: 1.6;
$body-color: #444;
