.common-home,
.common-home2,
.common-home3 {
	.vertical-menu {
		margin-top: -65px;
	}
}
.vertical-menu{
	margin-top: -107px;
	.category-text{
		background: #181818;
		padding: 15px;
		padding-bottom: 35px;
		h4 {
			margin: 0;
			float:left;
			font-family: $font-title;
			font-size: 14px;
		}
		color:#fff;
		.fa {
			float: right;
		}
	}
	.category-list{
		border: 1px solid $border-color;
		border-top: none;
		border-bottom: none;
		 > ul{			
			> li {
				position: relative;						
				border-bottom:1px solid $border-color;					
				> a {
					display: block;
					padding:15px 18px 15px 20px;
					@include transition(0.2s);
					span {
						font-size: 14px;
					}
					.fa{
						float:right;
					}
					img {
						display: inline-block;
						margin-right: 14px;
						position: relative;
						top: -3px;
					}
				}		
				
				&:hover {
					> a {
						color: #fff;
						background-color: $main-color;
					}
					.fly-sub-menu{
						visibility: visible;
						left: 100%;
						@include opacity(1);
					}
				}

			}
			.fly-sub-menu {				
				visibility: hidden;
				background-color: #fff;																				
				position: absolute;	
				@include opacity(0);
				@include transition(0.3s); 			
				top:0;
				left:120%;
				z-index: 9;							
				padding: 25px;
				padding-right: 0;	
				border:1px solid #ddd;	
				> div {
					float: left;
				}
			}		
			.link-cate {	
				float: left;
				.row-cate-wrapper {
					display: -webkit-inline-flex;
					display: -ms-inline-flexbox;
					display: inline-flex;
					.element-cate-wrapper{
						display: block;		
						margin-right: 10px;	
						margin-bottom: 20px;
						color: #555;
						min-width: 76px;
						h4 {
							font-weight: bold;
							font-family: $font-title;
							font-size: 14px;
							text-transform: uppercase;
						}
						> ul {
							margin-right: 20px;
							> li {
								border-bottom: 1px solid $border-color;
								&:first-child{
									border-top:1px solid #ddd;
								}
								&:last-child {
									border-bottom: none;
								}
								> a {
									display: block;
									padding:7px 0px 7px 5px;
									color:#555;
									@include transition(0.4s);
									&:before{
										content:"\f111";
										font-family: "FontAwesome";
										font-size:5px;
										margin-right: 5px;
										display: inline-block;
									}
									&:hover {
										color: $main-color;
										padding-left: 20px;
									}
								}						
								
							}
						}
					}
				}			
			}	
								
		}
	}
}