.vertical-menu{
	margin-top: -65px;
	.category-text{
		background: #181818;
		padding: 15px;
		padding-bottom: 35px;
		h4 {
			margin: 0;
			float:left;
			font-family: $font-title;
			font-size: 14px;
		}
		color:#fff;
		.fa {
			float: right;
		}
	}
	.category-list{
		border:1px solid $border-color;
		border-top: none;
		border-bottom: none;
		 > ul{			
			> li {
				position: relative;						
				border-bottom:1px solid $border-color;					
				> a {
					display: block;
					padding:15px 15px 15px 20px;
					@include transition(0.2s);
					span {
						font-size: 14px;
					}
					i.menu-icon{
						padding-right: 10px;
					}
					i.fa-angle-right{
						float:right;
					}
				}		
				
				&:hover {
					> a {
						color: #fff;
						background-color: $main-color;
					}
					.fly-sub-menu{
						z-index: 9999;
						opacity: 1;
					}
				}

			}
			.fly-sub-menu {
				background-color: #fff;	
				width: 1000px;
				display: block;
				opacity: 0;											
				position: absolute;				
				top:0;
				left:110%;
				z-index:-9999;				
				padding: 25px;
				padding-right: 0;	
				border:1px solid #ddd;	
				> div {
					float: left;
				}
			}		
			.link-cate {	
				float: left;
				.row-cate-wrapper {
					display: -webkit-inline-flex;
					display: -ms-inline-flexbox;
					display: inline-flex;
					.element-cate-wrapper{
						display: block;		
						margin-right: 10px;	
						margin-bottom: 20px;
						color: #555;
						min-width: 76px;
						h4 {
							font-weight: bold;
							font-family: $font-title;
							font-size: 14px;
							text-transform: uppercase;
						}
						> ul {
							margin-right: 20px;
							> li {
								border-bottom: 1px solid $border-color;
								&:first-child{
									border-top:1px solid #ddd;
								}
								&:last-child {
									border-bottom: none;
								}
								> a {
									display: block;
									padding:7px 0px 7px 5px;
									color:#555;
									@include transition(0.4s);
									&:before{
										content:"\f111";
										font-family: "FontAwesome";
										font-size:5px;
										margin-right: 5px;
										display: inline-block;
									}
									&:hover {
										color: $main-color;
										padding-left: 20px;
									}
								}						
								
							}
						}
					}
				}			
			}	
								
		}
		
	}
}